<div class="col-md-12 row justify-content-between footer">
    <div class="col-md-3 ">
        <h4 class="footerTitle">{{'Fastunlocker.com' |translate}}</h4>
        <p class="footerLine"></p>
        <div>
            <div class="row col-md-6 justify-content-around ">
                <i class="fa fa-facebook-f" style="font-size:19px"></i>
                <i class="fa fa-instagram" style="font-size:19px"></i>
                <i class="fa fa-rss" style="font-size:19px"></i>
            </div>
            <div></div>
        </div>
    </div>
    <div class="col-md-3 ">
        <h4 class="footerTitle">{{'Useful Links' |translate}}</h4>
        <p class="footerLine"></p>
        <div>
            <h5 class="footerLinks">{{'Contact Us' |translate}}</h5>
        </div>
    </div>
    <div class="col-md-3 ">
        <h4 class="footerTitle">{{'Subscribe' |translate}}</h4>
        <p class="footerLine"></p>
        <div>
            <h5 class="footerLinks">{{"Don’t miss our future updates!" |translate}} {{"Get Subscribed now!" |translate}} </h5>
        </div>
        <a class="btn gr"><i class="fa fa-envelope-open-o mr-1"></i>{{'Newsletter' |translate}} </a>
    </div>
    <div class="col-md-3 ">
        <h4 class="footerTitle">{{'Connect With Us' |translate}}</h4>
        <p class="footerLine"></p>
        <div class="footerLinks"><i class="fa fa-phone" ></i> +962790097505</div>
        <div class="footerLinks"><i class="fa fa-envelope"></i> FastUnlocker@gmail.com</div>
    </div>
</div>
