.footerTitle, .footerTitleU,.footerLinks{
    font-size: 1.5em;
    font-family: inherit;
font-weight: 500;
line-height: 1.2;
}
.footerTitleU{
    text-transform: uppercase !important;
}
.footer{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    position: relative;
}
.footerLine {
    width: 70px;
    height: 3.5px;
    background: black;
    left: 0;
    background: red;
  }
  .footerLinks{
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

   .gr{
background: #F0F0F0;
    }
  