<div class="bg-gray">
    <div class="w-100    min-height">
        

                <div class="container">
                    <ul class="breadcrumb">
                         <i class="fal fa-home"></i>  <a href="./index">Home </a> / <a href="./resellerpricing">Reseller Pricing</a> / IMEI SERVICE<a href="./resellerpricing/server"> </a>                          </ul>
                </div>


            <div class="container">
                <h2 class="page-title">
                    Reseller Pricing / IMEI SERVICE
                </h2>
            </div>
        
        <div>


<div class="container reseller-pricing"><div class="page-container">

    <div class="card card-search mb-4  bottom-space">

                <div class="position-relative  mb-4 bottom-space">
            This price for resellers only , If you just have one phone to open, 
            <a href="./cart/group/70/service/imei/groupname/MDM-Bypass-Services">Click here</a>
        </div>
    
    <div class="row align-items-center">

        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" name="search" id="searchservicebox" class="form-control" placeholder="Search Service" fdprocessedid="fszn1">
            </div>
        </div>

        <div class="col-lg-4">
                                                    <div class="form-group">
                    <select class="form-control no-chosen" fdprocessedid="fkn64o">
                        <option value="">All Group</option>
                                                        <option value="Pl">PlayStation Network USA</option>
                                                        <option value="Go">Google Play USA Store ONLY</option>
                                                        <option value="eB">eBay</option>
                                                        <option value="Am">Amazon USA</option>
                                                        <option value="Am">Amazon UAE</option>
                                                        <option value="RO">ROBLOX CANADA</option>
                                                        <option value="RO">ROBLOX USA</option>
                                                        <option value="PU">PUBG UC DIRECT TOP UP</option>
                                                        <option value="Pl">PlayStation Network KSA</option>
                                                        <option value="Go">Google Play UAE</option>
                                                        <option value="In">Instagram Services</option>
                                                        <option value="Fr">Free Fire [ DIRECT TOP-UP ]</option>
                                                        <option value="Fu">Furious Gold</option>
                                                        <option value="PU">PUBG New State PIN</option>
                                                        <option value="Pu">Pubg Game Credits DIRECT TOP UP [ UC ]</option>
                                                        <option value="PU">PUBG Mobile UC GLOBAL(PIN) PROMO For Limited Time</option>
                                                        <option value="PU">PUBG: NEW STATE (NC)</option>
                                                        <option value="PU">PUBG Purchase [ UC ] Top UP</option>
                                                        <option value="St">Steam Wallet Card UAE</option>
                                                        <option value="Mo">MobileSea Tool</option>
                                                        <option value="EM">EME Mobile Tool</option>
                                                        <option value="GA">GAPro Login Tool (OnePlus &amp; Realme)</option>
                                                        <option value="Xi">Xiaomi Pro tool</option>
                                                        <option value="Xi">XiaomiKEY - Generate FRP KEY</option>
                                                        <option value="Pl">PlayStation Plus UAE</option>
                                                        <option value="Pl">PlayStation Plus USA</option>
                                                        <option value="Pl">PlayStation Network UAE</option>
                                                        <option value="Fr">Free Fire Pin</option>
                                                        <option value="St">Steam USA</option>
                                                        <option value="Ap">App Store &amp; iTunes CANADA</option>
                                                        <option value="Ap">App Store &amp; iTunes UAE</option>
                                                        <option value="Ap">App Store &amp; iTunes KSA</option>
                                                        <option value="Ap">App Store &amp; iTunes USA</option>
                                                        <option value="Go">Google Play UK</option>
                                                        <option value="Go">Google Play KSA</option>
                                                        <option value="Ti">TikTok Services</option>
                                                        <option value="Al">AlseerY-UnLocker</option>
                                                        <option value="Ph">Phoenix Tool (Nokia HMD Reset PIN / FRP / Flash)</option>
                                                        <option value="ZX">ZXW</option>
                                                        <option value="Z3">Z3X</option>
                                                        <option value="Xi">XinZhiZao schematic program</option>
                                                        <option value="Xi">Xiaomi Fire Tool- XFT</option>
                                                        <option value="WU">WUXINJI</option>
                                                        <option value="US">USA - Xiaomi Auth</option>
                                                        <option value="Un">UnlockTool Activation</option>
                                                        <option value="Tr">Trading View Premium</option>
                                                        <option value="Th">The Magic Tool [ Motorola Unlock ]</option>
                                                        <option value="T-">T-UNLOCK TOOL</option>
                                                        <option value="Sp">Spotify</option>
                                                        <option value="Si">Sigma Plus</option>
                                                        <option value="SH">SHARK  Tool </option>
                                                        <option value="Sa">Samsung Sim-Unlocker</option>
                                                        <option value="Pa">Pandora Box Digital</option>
                                                        <option value="Oc">Octoplus Samsung Digital License</option>
                                                        <option value="Oc">Octoplus LG Digital License</option>
                                                        <option value="Oc">Octoplus Huawei Digital License</option>
                                                        <option value="Oc">Octoplus Full Digital License</option>
                                                        <option value="Oc">Octoplus FRP Digital License</option>
                                                        <option value="Oc">Octoplus Box Activations</option>
                                                        <option value="Oc">Octoplus / Octopus Box Credits</option>
                                                        <option value="Mi">Miracle Schematics Pro</option>
                                                        <option value="Mi">Miracle Power Tool </option>
                                                        <option value="Mi">Miracle Activation</option>
                                                        <option value="Mi">Microsoft Windows Official Activation </option>
                                                        <option value="Ka">Kasper Sky</option>
                                                        <option value="In">Infinity Services Part 2</option>
                                                        <option value="In">Infinity Services </option>
                                                        <option value="HY">HYDRA TOOL</option>
                                                        <option value="Gr">Griffin tool</option>
                                                        <option value="Gr">Grammarly Premium</option>
                                                        <option value="Gl">Global Unlocker Pro</option>
                                                        <option value="Fa">Fast Unlocker Pro</option>
                                                        <option value="EF">EFT</option>
                                                        <option value="Ch">Chimera Tool</option>
                                                        <option value="Ch">Cheetah Tool</option>
                                                        <option value="CF">CF-Tools</option>
                                                        <option value="BO">BORNEO</option>
                                                        <option value="Ap">Apizu Tool</option>
                                                        <option value=" A"> Android Multi Tool</option>
                                                        <option value="Ti">TikTok Agancy Ads Account</option>
                                                        <option value="Yo">YouTube Services</option>
                                                        <option value="Yo">YouTube Subscribers</option>
                                                        <option value="AI">AI Tools</option>
                                                        <option value="Ca">Canva Tool - Premium</option>
                        
                    </select>
                </div>
                        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="hot" class="custom-control-input" id="hotitem">
                    <label class="custom-control-label" for="hotitem">Show only HOT Products</label>
                </div>

            </div>
        </div>

    </div>

    </div>

</div>


</div>

<div class="container reseller-pricing"><div class="page-container">    
        <div *ngFor="let list of selectedData" class="table-responsive  services">
        <div class="group card  mb-4  bottom-space active  g_Pl">
            <span class="d-none">0</span>
            <table class="table  table-striped  table-hover">
                <thead>
                <tr>
                    <th colspan="2"><h5> {{list.serviceName}} </h5></th>
                    <th class="text-center no-wrap  d-none d-lg-table-cell"><span class="">Delivery Time</span></th>
                    <th class="text-right">Price</th>
                </tr>
                </thead>

                <tbody >
                    <tr *ngFor="let item of list.data" data-toggle="modal"
                    data-target="#exampleModal2" class="service active">
                        <td class="cursor-pointer text-center  p-0 p-lg-2" data-whatever="" data-toggle="modal" data-target="#modal-ajax" href="?standalone=true">
                            <div class="d-none d-lg-block">
                            <i class="fal fa-cogs"></i> 
                            </div>

                        </td>
                        <td class="cursor-pointer  w-100" style="white-space: normal" data-whatever="Playstation US 10$ USD " data-toggle="modal" data-target="#modal-ajax" href="./resellerpricing/action/getdetail/service/813?standalone=true">
                            <a class="searchme"> </a>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title=""> {{item.key}} </span>
                            <div class="d-block d-lg-none"> <small class="text-muted"> </small></div>
                        </td>

                        <td class="text-center no-wrap border-left d-none d-lg-table-cell">
                            <span class="">{{item.DeliveryTime}} </span>
                        </td>
                        <td class="text-right no-wrap border-left">
                            <span class="nowrap"> <span class="prefix">$</span> <span class="suffix"> {{item.price}}</span>  </span>
                        </td>
                            
                    </tr>
                    
                </tbody>
            </table>
        </div>
</div>
    
</div></div>



<style>
    .group {
        display: none
    }

    .group.active {
        display: block
    }

    .service {
        display: none
    }

    .service.active {
        display: table-row
    }
</style>

<div class="text-center">

</div>


</div>
</div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 28%;">
    <div class="modal-content">
      <div class="modal-header top text-white bg-danger">
        <h5 class="modal-title" id="exampleModalLabel">Place Order</h5>
        <button type="button" class="close bg-danger" data-dismiss="modal" aria-label="Close" #myDiv>
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="blog-card spring-fever">
          <div class="title-content">
            <div class="intro">
              <div class="row">
                <div class="col-12" style="text-align: center;">
                  <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
                    <div class="form-group py-1 ">
                      <label for = "name">IMEI</label>
                        <div class="input-field bg-white"> <span class="fa fa-box p-2 bg-white"></span> <input type="text" id="username" class="form-control" formControlName="userName" value=""
                            placeholder="IMEI " required autofocus> </div>
                    </div>
                    <div class = "form-group">
                      <label for = "name">Comment</label>
                      <textarea class="input-field form-control" rows = "3" placeholder = "Player Details">

                      </textarea>
                   </div>
                    <div class = "form-group">
                      <label for = "name">Binance Wallet Id</label>
                      <textarea class="input-field form-control" rows = "3" placeholder = "Player Details" [value]="link" disabled>

                      </textarea>
                      <span>click on the above link to complete payment</span>
                   </div>
                    <div class="d-flex align-items-start">
                        <div class="remember"></div>
                    </div> <button (click)="closeModal($event)" class="btn btn-block text-center my-3">
                       Place Order</button>
                </form>
                </div>
            </div>
            </div>
          </div>
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->
      </div>
    </div>
  </div>
</div>



