<!-- <div class="w-100" style="width: 100%; display: block; min-height: calc(100vh - 549px); padding-bottom: 6rem;">
    <div>
        
    </div>

</div> -->

<div id="carousel" class="carousel slide container" data-ride="carousel" style="margin-bottom: 15px;">

    <!-- Carousel Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class=""></li>
      <li data-target="#carousel" data-slide-to="1" class=""></li>
      <li data-target="#carousel" data-slide-to="2" class=""></li>
    </ul>
  
    <!-- Carousel Items -->
    <div class="carousel-inner text-center mx-auto">
      <div class="carousel-item active" style="background: url('images/gallery/ATTBanner.jpg') center; background-size: cover;">
        <div class="banner-type image banner6">
          <img src="../assets/img/ATTBanner.jpg" class="image mw-100">
          <div class="position-absolute w-100 h-100 related-parent">
            <div class="container h-100 p-lg-5">
              <div class="d-flex align-items-center h-100 p-lg-5">
                <div class="w-100 p-5 bottom-space banner-content">
                  <!-- Your banner content goes here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="carousel-item" style="background: url('images/gallery/TMobileBanner.jpg') center; background-size: cover;">
        <div class="banner-type image banner7">
          <img src="../assets/img/TMobileBanner.jpg" class="image mw-100">
          <div class="position-absolute w-100 h-100 related-parent">
            <div class="container h-100 p-lg-5">
              <div class="d-flex align-items-center h-100 p-lg-5">
                <div class="w-100 p-5 bottom-space banner-content">
                  <!-- Your banner content goes here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="carousel-item" style="background: url('images/gallery/VERIZONBanner.jpg') center; background-size: cover;">
        <div class="banner-type image banner8">
          <img src="../assets/img/VERIZONBanner.jpg" class="image mw-100">
          <div class="position-absolute w-100 h-100 related-parent">
            <div class="container h-100 p-lg-5">
              <div class="d-flex align-items-center h-100 p-lg-5">
                <div class="w-100 p-5 bottom-space banner-content">
                  <!-- Your banner content goes here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- SVG Background -->
    <div class="bg-svg d-none d-lg-block svg"></div>
  
  </div>

<div class="index-content mb-4 bottom-space">
    <div class="container">
        <div class="page-container">
            <p style="text-align: center;">
            <span style="font-size: 24pt; font-family: Georgia, 'Times New Roman', Times, serif;">
                <span style="color: #3366ff;"> We Unlock All </span>
                <span style="color: #ff6600;"> Major Carriers&nbsp; </span>
            </span>
            </p>
        </div>  
    </div>
</div>

<div class="index-products">
            
	<div class=" index-items-homepagegroup  index-items mb-4 bottom-space">
		<div class="container"><div class="page-container"><div class="row">
				 <div class="col-lg-3  col-product" routerLink="../carts/1/MacBook Pro (13-inch, M1, 2020)Instant">
					 <div class="card    h-100 text-center card-group card-product">
						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								<div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="../assets/img/MAc.jpeg" alt="">
                                    <!-- <img class="navbar-brand col-md-2" alt="logo" src="../assets/img/MAc.jpeg"/> -->

								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> Mac Service  T2/M1/M2  </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/2/XIAOMI">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								<div class="d-flex h-100 align-items-center">
							    	 <img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/mi2.jpeg" alt="">
	 							</div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> XIAOMI </div>
							 </div>

						 </a>

					 </div>
					</div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/3/-iCloud-Remove-by-SN-IPADS--Instant-" >
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column" >
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/IPAd%20post%20for%20telegram%202.jpeg" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3">  iCloud Remove by SN IPADS ( Instant ) </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/4/-iCloud-Remove-by-SN-IWATCG--Instant-">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column" >
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									 <img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/iwatch%20post%20for%20telegram%201.jpeg" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3">  iCloud Remove by SN IWATCH  ( Instant ) </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/5/IC-100-PListToken-IPHONES">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Icloud%20banner.png" alt="">
								</div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> IC 100% PList/Token IPHONES </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/6/IC-100-PListToken-IPADS">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/icloud%20ipads%20banner.png" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> IC 100% PList/Token IPADS </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/7/IC-100-PListToken-IWATCH">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									 <img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/watch%20banner.png" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> IC 100% PList/Token IWATCH </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column" href="./cart/group/6/service/imei/groupname/ATampT-USA-NETWORKS-">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									 <img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/AT&T%20banner%201%20.png" alt="">
								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> AT&amp;T USA NETWORKS  </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/9/T-MOBILE---SPRINT-USA-NETWORKS-">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								<div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/T-mobile%20Banner%20.png" alt="">
								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> T-MOBILE - SPRINT USA NETWORKS  </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/11/Cricket-USA-NETWORKS">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Cricket%20Banner.jpeg" alt="">
								</div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> Cricket USA NETWORKS </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/10/CLARO-NETWORKS">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Cricket%20Banner.jpeg" alt="">
								</div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> CLARO NETWORKS </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/14/iRemove-Ramdisk--iOS-15--16-">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Cricket%20Banner.jpeg" alt="">
								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> iRemove Ramdisk ( iOS 15 / 16 ) </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/13/SAMSUNG-USA-CODS">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Samsung%20banner%20.png" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> SAMSUNG USA CODS </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
				 <div class="col-lg-3  col-product" routerLink="../carts/12/INFO-Report-Checkers-">
					 <div class="card    h-100 text-center card-group card-product">


						 <a class="h-100 w-100  d-flex flex-column">
							 <div class="position-relative card-product-img">
								 <div class="d-flex h-100 align-items-center">
									<img class="card-img-top  mx-auto" src="https://guzunlocker.com/images/gallery/Samsung%20banner%20.png" alt="">
 								 </div>

							 </div>

							 <div class="card-info">
								 <div class="truncate-text mt-3"> INFO Report Checkers  </div>
							 </div>

						 </a>

					 </div>
				 </div>

			 
		 </div></div></div>
	</div>
 
</div>

