body {
  color: black;
  font-size: 1rem;
  font-family: 'myriad-pro', sans-serif;
}

nav {
  margin-bottom: 0;
  padding-bottom: 0;
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
    // background: red;
    margin: 2px;
  }

  .nav-item {
    padding-right: 20px;
  }

  .topNav {
    margin-bottom: -10px;

    span,
    i {
      font-size: 12px;
    }

    .text-muted {}
  }

}

.topNav2 {
  margin-top: -20px;
}

.no-X-Padiing {
  padding-bottom: -10px;
  padding-top: -10px;
  margin-bottom: -5px;
  margin-top: -10px;
}


.dropdown-menu {
  // width:150px !important;
  word-wrap: break-word;
}



.dropbtn {
  background-color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.show{
  display: none;
}
nav{
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 11px;
    margin-top: 12px;
    min-width: 140px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 11px;
  margin-top: -4px;
  min-width: 140px;
}
.min{
  border-left: 1px solid grey;
  margin: 0px;
  text-decoration: none;
  width: 20%;
  color: black;
  padding: 1px 10px 1px 10px;
    text-decoration: none;
    display: block;
  }
  .con{
    height: 200px;
  overflow-x: auto;
  }
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .show {
  display: block;
}


.topNav3 {
  background:#ff8000;
  .dropbtn {
    background-color: transparent;
    color: white;
  }
}


#footer {
  position: absolute;
  // bottom: 0;
  width: 100%;
  background-color: white;
  /* Footer height */
}

.test {
  height: 4px;
  width: 0px;
  background: black;
  transform-origin: 50% 50%;
  transition: width 0.1s linear;
  margin-bottom: -1px;
  padding-top: 0x;
}
.test2:hover{
  .test{
    width: 100%
  }
}

