<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top">
    <div class="container col-md-11 topNav">
      <div><span class="text-muted"><i class="fa fa-phone" ></i> +962790097505</span> &nbsp;
        <span  class="text-muted"><i class="fa fa-envelope"></i> GuzUnlocker@gmail.com</span></div>
        <app-select-language></app-select-language> 
    </div>
</nav>
<hr>
<nav class="navbar navbar-expand-lg static-top topNav2">
  <div class="container col-md-11 no-X-Padiing">
    <!-- <a class="navbar-brand" href="#">{{ title }}</a> -->
    <img class="navbar-brand col-md-2" alt="logo" src="../assets/img/logo (2).png"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria- expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active test2">
          <a class="nav-link" href="#">{{'Home' |translate}}
            <span class="sr-only">(current)</span>
          </a>
          <div class="test"></div>
        </li>
        <li class="nav-item test2">
          <div class="nav-link dropdown">
            <button class="dropbtn">{{"Reseller Pricing"| translate}} <i class="fa fa-angle-down"></i></button>
            <div class="dropdown-content show">
              <a class="dropdown-item" >IMEI Service</a>
              <a class="dropdown-item" >Sever Service</a>
              <a class="dropdown-item" >Remote Service</a>
              <a class="dropdown-item" >File Service</a>
            </div>
          </div>
          <div class="test"></div>
        </li>
        <li class="nav-item test2">
          <a class="nav-link" href="#">Registration</a>
          <div class="test"></div>
        </li>
        <li class="nav-item test2">
          <a class="nav-link" href="#">GuzUnlucker News-Updates</a>
          <div class="test"></div>
        </li>
      </ul>
      <a class="btn btn-dark text-white"><i class="fa fa-lock mr-2" style="font-size:15px;color: white;"></i>Login</a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg static-top bg-danger topNav3">
  <div class="container col-md-11 ">
   <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria- expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link dropdown" (mouseover)="mouseOver()" (mouseout)="mouseOver()">
          <button class="dropbtn">Sever Service<i class="fa fa-angle-down"></i></button>
          <!-- <div class="dropdown-content">
           <div class="min">
            <a class="dropdown-item" *ngFor="let item of serviceObj">IMEI Service</a>
           </div>
          </div> -->
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link dropdown"(mouseover)="mouseOver()" (mouseout)="mouseOver()">
          <button class="dropbtn">IMEI Service<i class="fa fa-angle-down"></i></button>
        </div>
      </li>
    </ul>
  </div>
   </div>
    <a class="btn text-white"><i class="fa fa-search" style="font-size:17px"></i></a>
  </div>
</nav>

<div class="row col-md-12 p-0 mx-0 dropdown-content pt-4 con" [hidden]="!showed" (mouseover)="showed=true" (mouseout)="showed=false">
  <a class="min" *ngFor="let item of serviceObj"><span>{{item.key}}</span></a>
</div>


<footer id="footer">
  <app-footer></app-footer>
</footer>


