<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top">
    <div class="container col-md-11 topNav">
      <div><span class="text-muted"><i class="fa fa-phone" ></i> +962790097505</span> &nbsp;
        <span  class="text-muted"><i class="fa fa-envelope"></i> GuzUnlocker@gmail.com</span></div>
        <app-select-language></app-select-language> 
    </div>
</nav>
<hr>
<nav class="navbar navbar-expand-lg static-top topNav2">
  <div class="container col-md-11 no-X-Padiing">
    <!-- <a class="navbar-brand" href="#">{{ title }}</a> -->
    <img class="navbar-brand col-md-2" alt="logo" src="../assets/img/logo (2).png"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria- expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{'Home' |translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="nav-link dropdown">
            <button class="dropbtn">{{"Reseller Pricing"| translate}} <i class="fa fa-angle-down"></i></button>
            <div class="dropdown-content">
              <a class="dropdown-item" >IMEI Service</a>
              <a class="dropdown-item" >Sever Service</a>
              <a class="dropdown-item" >Remote Service</a>
              <a class="dropdown-item" >File Service</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GuzUnlucker News-Updates</a>
        </li>
      </ul>
      <a class="btn btn-dark text-white"><i class="fa fa-lock mr-2" style="font-size:15px;color: white;"></i>Login</a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg static-top bg-danger topNav3">
  <div class="container col-md-11 ">
   <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria- expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link dropdown">
          <button class="dropbtn">Reseller Pricing <i class="fa fa-angle-down"></i></button>
          <div class="dropdown-content">
            <a class="dropdown-item" >IMEI Service</a>
            <a class="dropdown-item" >Sever Service</a>
            <a class="dropdown-item" >Remote Service</a>
            <a class="dropdown-item" >File Service</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link dropdown">
          <button class="dropbtn">Reseller Pricing <i class="fa fa-angle-down"></i></button>
          <div class="dropdown-content">
            <a class="dropdown-item" >IMEI Service</a>
            <a class="dropdown-item" >Sever Service</a>
            <a class="dropdown-item" >Remote Service</a>
            <a class="dropdown-item" >File Service</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
   </div>
    <a class="btn text-white"><i class="fa fa-search" style="font-size:17px"></i></a>
  </div>
</nav>

<!-- <div>
  <app-body></app-body>

</div> -->
<router-outlet></router-outlet>




